// 这是一个单行注释  头部样式

/*这是一个多行注释*/

@mixin box_flex {
    display: flex;
}

@mixin direction ($dir:row) {
    // 设置弹性盒子方向
    -webkit-flex-direction: $dir;
    flex-direction: $dir;
}

@function width($n) {
    @return $n*10;
}

// @import '_mixin.scss'; // 引入文件
$color:pink;
$width:100%;
$height:100%;
.div {
    height: $height;
    width: $width;
    color: $color;
    @include box_flex;
    @include direction(column);
    h1 {
        background: red;
        width: width(10);
        color: red;
    }
}